.chat {
  border-radius: 0.5rem;
  border: 1px solid black;
  width: 60vw;
  display: flex;
}

.chat > div {
  padding: 0.5rem 0 0.5rem 0;
}

.chat > div:not(div:last-of-type) {
  border-right: 1px solid black;
}

.chat-members {
  width: 25%;
}

.chat-members > div {
  padding: 0.5rem;
}

.chat-members > div:not(div:last-of-type) {
  border-bottom: 1px solid black;
}

.chat-members-add > a {
  color: inherit;
}

.chat-members-add-btn {
  border-radius: 0.5rem;
  border: 1px solid gray;
  transition: 0.15s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  cursor: pointer;
}

.chat-members-add-btn:hover {
  box-shadow: 0 0 0 1px gray inset;
  color: gray;
}

.chat-members-add-btn > svg {
  height: 1rem;
  width: 1rem;
}

.chat-members-member > div:not(div:last-of-type) {
  margin-bottom: 0.5rem;
}

.chat-members-member-name {
  color: rgb(79, 79, 79);
}

.chat-main {
  width: 75%;
}

.chat-main > div {
  padding: 0.5rem;
}

.chat-main > div:not(div:last-of-type) {
  border-bottom: 1px solid black;
}

.chat-main-header {
  font-size: 1.25rem;
  font-weight: 600;
}

.chat-error {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid black;
  color: darkred;
}
